<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container">
            <h2>Database Results</h2>

            <div class="thing">
                Stuff
            </div>

        </div>
        <script type="text/javascript">
            function getResults() {
                $.ajax({
                    url: '/api/pitchfx',
                    method: 'POST',
                    contentType: 'application/json',
                    data: {
                        "filter": {
                            "and": [{
                                "term": {
                                    "pitcher.org": "BAL"
                                }
                            }, {
                                "term": {
                                    "batter.org": "TB"
                                }
                            }]
                        }
                    }
                }).done(function(data) {
                    console.log(data.hits.hits);
                    $('.thing').html(data.hits.hits);
                });
            }

            $('.thing').click(function(e) {
                getResults();
            });
        </script>
</body>

</html>
